<!DOCTYPE html>
<html ng-app="coinApp">
<title>Korea premium</title>
<head>
  <meta charset="utf-8"> 

  <script src="./angular.js"></script>
  <script src="kpremium.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<style>
	.green1 {
		 background-color: ForestGreen;
	}
	.green2 {
		 background-color: DarkGreen;
	}
	.green3 {
		 background-color: DarkSlateGrey;
	}

	</style>
</head>

<body ng-controller="kpremiumController">
<div class="container">
  <h1>Korean Traders' Price Compare</h1>
  <br>
	<small>
	<p>* 주기적으로 가격을 다시 받아옵니다.</p>
	<p>{{ last_update | date:'medium' }}</p>
	<p> KRW/USD = {{ krw_usd }} </p>

<h3> KRW 기준 가격 </h3>	
	<table class="table table-bordered">
	  <thead class="thead-inverse">
		<tr>
		<th>화폐</th>
		<th>Coineone</th>
		<th>Bithumb</th>
		<th>Poloniex(Base)</th>
		</tr>
	  </thead>
		<tr ng-repeat="currency in bithumb_currency">
		<td>{{currency | uppercase}}</td>
		<td ng-class="colorByPremium('coinone', currency)">
			<span ng-if="coinone[currency]">
				{{coinone[currency] | number}} 
				({{premium('coinone', currency) | number:1}}%) </span>
			<span ng-if="!coinone[currency]">- </span>
		</td>
		<td ng-class="colorByPremium('bithumb', currency)">
			{{bithumb[currency] | number}}
			({{premium('bithumb', currency) | number:1}}%)
		</td>
		<td>{{poloniex_usdt[currency] * krw_usd | number:0}} </td>
		</tr>
	</table>

	<div>Color : from high to low ( 
			<span class='bg-danger'>Red</span> &gt; 10 &gt; 
			<span class='bg-warning'>Yellow</span> &gt; 7	&gt; 
			<span class='bg-info'>Blue</span> &gt; 2.5 &gt; 
			<span>White</span> &gt; -2.5 &gt; 
			<span class='bg-success'>Green</span> &gt; -7 &gt;
			<span class='green1'>Forest Green</span> 
			)
	</div>
	
	<a href="https://cryptowat.ch/bithumb/ltckrw">Bithumb LTC Chart</a>

<h3> Bithumb </h3>	
	<table class="table">
		<tr>
		<th>화폐</th>
		<th>가격 (KRW)</th>
		<th>차트</th>
		</tr>
		<tr ng-repeat="currency in bithumb_currency">
		<td>{{currency | uppercase}} </td>
		<td>{{bithumb[currency] | number}} </td>
		<td> <a ng-href="{{ getChartUrl('bithumb', currency, 'krw') }}" target="_blank">chart</a> </td>
		</tr>
	</table>
	
<h3> Poloniex BTC / ALT </h3>	
	<table class="table">
		<tr>
		<th>화폐</th>
		<th>BTC per Coin</th>
		</tr>
		<tr ng-repeat="currency in poloniex_currency">
		<td>{{currency | uppercase}}</td>
		<td>{{poloniex[currency]}} </td>
		</tr>
	</table>
	<div ng-if="true">
<h3> 재정거래(BTC) </h3>	
	<table class="table">
		<tr>
		<th>화폐</th>
		<th>가격</th>
		<th>백만원당 Coin 수</th>
		<th>Poloniex Bitcoin 구매시</th>
		<th>Coinone 에서의 가치</th>
		<th>Gain</th>
		</tr>
		<tr ng-repeat="currency in bithumb_currency">
		<td>{{currency | uppercase}}</td>
		<td>{{bithumb[currency] | number}} KRW </td>
		<td>{{1000000 / bithumb[currency] - fee[currency] | number}} 개 </td>
		<td>{{sellAtPoloniex(currency) | number}} 개 </td>
		<td>{{sellAtPoloniex(currency) * coinone['btc']}} KRW </td>
		<td>{{ gain(currency) | number:2 }} %</td>
		</tr>
	</table>
</div>
<div ng-repeat="retCurrency in ['etc','eth','ltc', 'xrp', 'dash']">
<h3> 재정거래({{retCurrency}} 을 한국에서 팔때 ) </h3>	
	<table class="table">
		<tr>
		<th>화폐</th>
		<th>가격</th>
		<th>백만원당 Coin 수</th>
		<th>Poloniex에서 {{retCurrency}} 구매개수</th>
		<th>bithumb에서의 가치</th>
		<th>Gain</th>
		</tr>
		<tr ng-repeat="currency in bithumb_currency">
		<td>{{currency | uppercase}}</td>
		<td>{{bithumb[currency] | number}} KRW </td>
		<td>{{1000000 / bithumb[currency] - fee[currency] | number}} 개 </td>
		<td>{{sellAtPoloniexEx(currency, retCurrency) | number}} 개 </td>
		<td>{{sellAtPoloniexEx(currency, retCurrency) * bithumb[retCurrency]}} KRW </td>
		<td ng-class="gainColor(currency, retCurrency)">{{ gainEx(currency, retCurrency) | number:2 }} %</td>
		</tr>
	</table>
	</div>

	<hr>
	
	<div>
	<h4>개발자 지갑</h4>
		<table class="table">
		<tr>
			<td>Ripple(XRP) : </td>
			<td>rEBEAoRY2uj5aL6MTGjz3GDCHasUAHJw1K </td>
		</tr>
		<tr>
			<td>Bitcoin(BTC): </td>
			<td>14TLKyfiM4oNEfCYQD7TGk56hEubCW9H9U</td>
		</tr>

	</table>

	</div>
	</div>
	
</body>
</html>
